<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="AdminTemplate">

<head>
    <meta charset="UTF-8">
    <title>Form Enseignant</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-group label {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            margin-bottom: 5px;
            display: block;
        }
        .form-control {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 8px 12px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
<section layout:fragment="content1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Add Enseignant</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{saveEnseignant}">
                            <div class="form-group">
                                <label>Nom</label>
                                <input class="form-control" type="text" name="nom" th:value="${enseignant.nom}">
                                <span class="text-danger" th:errors="${enseignant.nom}"></span>
                            </div>
                            <div class="form-group">
                                <label>Prenom</label>
                                <input class="form-control" type="text" name="prenom" th:value="${enseignant.prenom}">
                                <span class="text-danger" th:errors="${enseignant.prenom}"></span>
                            </div>
                            <div class="form-group">
                                <label>Grade</label>
                                <select class="form-control" name="grade">
                                    <option value="professeur" th:selected="${enseignant.grade == 'professeur'}">Professeur</option>
                                    <option value="MCA" th:selected="${enseignant.grade == 'MCA'}">MCA</option>
                                </select>
                                <span class="text-danger" th:errors="${enseignant.grade}"></span>
                            </div>

                            <div>
                                <label>Speicalite</label>
                                <select class="form-control" name="specialite">
                                    <option th:each="matier : ${T(ntic.tlsi.gestiondoctorat2.entities.Matier).values()}"
                                            th:text="${matier}" th:selected="${enseignant.specialite == matier}" th:value="${matier}"></option>
                                </select>
                                <span class="text-danger" th:errors="${enseignant.specialite}"></span>
                            </div>


                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" type="text" name="username" th:value="${enseignant.username}">
                                <span class="text-danger" th:errors="${enseignant.username}"></span>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" type="password" name="password" th:value="${enseignant.password}" >
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="email" th:value="${enseignant.email}">
                                <span class="text-danger" th:errors="${enseignant.email}"></span>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-secondary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>
