<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="UTF-8">
    <title>Form Admin</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- mossab -->


    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{saveAdmin}">
            <div >
                <label> Nom </label>
                <input class="form-control" type="text" name="nom" th:value="${admin.nom}">
                <span class="text-danger" th:errors="${admin.nom}"></span>

            </div>
            <div >
                <label> Prenom </label>
                <input class="form-control" type="text" name="prenom" th:value="${admin.prenom}">
                <span class="text-danger" th:errors="${admin.prenom}"></span>

            </div>

            <div>
                <label>Username</label>
                <input class="form-control" type="text" name="username" th:value="${admin.username}">
                <span class="text-danger" th:errors="${admin.username}"></span>
            </div>

            <div>
                <label>Password</label>
                <input class="form-control" type="password" name="password" th:value="${admin.username}" readonly>
            </div>




            <label> Email </label>
            <input class="form-control" type="email" name="email" th:value="${admin.email}">
            <span th:errors="${admin.email}"></span>

            <button type="submit" class="btn btn-secondary">Save</button>
        </form>
    </div>




</body>
</html>